p {
  margin: 0;
}
.date,
.days {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}
.price__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}
.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.408px;
  color: #424242;
  margin-left: 8px;
}
.container_top {
  display: flex;
  justify-content: space-between;
}

.container_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hotel__name {
  width: 85%;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
}
